.DS_Store
.eslintrc.json
.git/
.git*
.github/**
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
src/**
tsconfig.json
tslint.json
vsc-extension-quickstart.md
types/
node_modules/
